!!! 5
%html(lang="en")
  %head
    = stylesheet_link_tag "all"
    = javascript_include_tag "all"
    = yield_content :script

  %body
    = partial "partials/head"
    = yield_content :content
    = partial "partials/footer"
    = partial "partials/global/splash"
    = partial "partials/global/gag"
    = partial "partials/global/popup"
    = yield_content :end_of_body
